chatgpt https://chat.openai.com
youtube https://youtube.com
suckless https://suckless.org
wallhaven https://wallhaven.cc
vimcs https://vim.rtorr.com/
whatsapp https://web.whatsapp.com
telegram https://web.telegram.org
github https://github.com
github_home https://github.com/{{ .chezmoi.username }}
grcs https://messages.google.com/web/conversations
gemini https://gemini.google.com/app
teams https://teams.microsoft.com/
office365 https://www.office.com/
wbook https://wayland-book.com
core https://corevcet.wixsite.com/core
