* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border-radius: 100px;
    background-color: transparent;
}

tooltip {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.modules-left {
    background-color: rgba(0, 0, 0, 0.2);
}

.modules-center {
    background-color: rgba(0, 0, 0, 0.2);
}

.modules-right {
    background-color: rgba(0, 0, 0, 0.2);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces {
}

#workspaces label {
    font-size: 20px;
}

#workspaces button {
    padding: 0px 10px;
    transition: background-color 0.5s;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: rgba(255, 0, 0, 0.2);
}

#workspaces button.special {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock {
    padding: 0px 10px;
    font-size: 16px;
}


#clock label {
    font-size: 20px;
}

#window {
    padding: 0px 5px;
}

#custom-dunst {
    font-size: 20px;
    padding: 0px 10px 0px 5px;
}

#custom-notif-dismiss {
    font-size: 20px;
    padding: 0px 8px 0px 0px;
}

#custom-media {
    font-size: 13px;
    padding: 0px 8px;
    margin: 0px 5px;
    color: rgba(255, 255, 255, 0.9);
}

#privacy {
    padding-right: 5px;
}

#privacy-item {
    padding: 0px 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: rgba(207, 87, 0, 0.2);
}

#privacy-item.audio-in {
    background-color: rgba(28, 160, 0, 0.2);
}

#privacy-item.audio-out {
    background-color: rgba(0, 105, 212, 0.2);
}

#tray {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    margin: 0px 5px;
}

#tray menu {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .active {
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#network {
    padding: 0px 5px;
    margin: 0px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

#network.disabled {
}

#network.disconnected {
    background-color: #f53c3c;
}

#network.linked {
}

#network.ethernet {
    background-color: rgba(80, 160, 255, 0.2);
}

#network.wifi {
    background-color: rgba(255, 180, 80, 0.2);
}

#bluetooth {
    padding: 0px 5px;
    margin: 0px 5px;
    transition: background-color 0.5s;
}

#bluetooth.disabled {
    background-color: rgba(120, 120, 120, 0.2);
}

#bluetooth.off {
    background-color: rgba(90, 90, 90, 0.2);
}

#bluetooth.on {
    background-color: rgba(80, 160, 255, 0.2);
}

#bluetooth.connected {
    background-color: rgba(60, 200, 160, 0.2);
}

#bluetooth.discoverable {
    background-color: rgba(180, 130, 255, 0.2);
}

#bluetooth.discovering {
    background-color: rgba(0, 200, 255, 0.2);
}

#bluetooth.pairable {
    background-color: rgba(70, 120, 200, 0.2);
}

#bluetooth.no-controller {
    background-color: rgba(255, 120, 90, 0.2);
}

#battery {
    padding: 0px 5px;
    margin: 0px 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

#battery.charging, #battery.plugged {
    background-color: rgba(38, 166, 91, 0.2);
}

@keyframes blink {
    to {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(245, 60, 60, 0.2);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    padding: 0px 5px;
    margin: 0px 5px;
    background-color: rgba(144, 177, 177, 0.2);
}

#power-profiles-daemon {
    padding: 0px 5px;
    margin: 0px 5px;
    font-size: 20px;
    transition: background-color 0.5s;
}

#power-profiles-daemon.performance {
    background-color: rgba(245, 60, 60, 0.2);
}

#power-profiles-daemon.balanced {
    background-color: rgba(41, 128, 185, 0.2);
}

#power-profiles-daemon.power-saver {
    background-color: rgba(46, 204, 113, 0.2);
}

#pulseaudio {
    padding: 0px 5px;
    margin: 0px 5px;
    background-color: rgba(241, 196, 15, 0.2);
    transition: background-color 0.5s;
}

#pulseaudio.muted {
    background-color: rgba(144, 177, 177, 0.2);
}

#power-group label {
    font-size: 20px;
    padding: 0px 5px;
    margin: 0px 5px;
    transition: background-color 0.5s;
}

#power-group label:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#idle_inhibitor {
    padding: 0px 5px;
    margin: 0px 5px;
    font-size: 20px;
    background-color: rgba(45, 52, 54, 0.2);
    transition: background-color 0.5s;
}

#idle_inhibitor.activated {
    background-color: rgba(236, 240, 241, 0.2);
}


/*
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: #64727D;
}



label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
*/
